html {
  height: 100%;
  width: 100%;
}

body {
  background: blue;
  color: white;
  text-align: center;
}
p1 {
  font-size: 15px;
  text-align: left;
}

p2 {
  font-size: 15px;
  text-align: left;
}
p3 {
  font-size: 15px;
  text-align: left;
}
